# ROS 2 colcon build artifacts
build/
install/
log/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor directories and files
.vscode/
.idea/
*.sw?
*.suo
*.ntvs*
*.njsproj
*.sln

# OS files
.DS_Store
Thumbs.db

# Other common
*.local
*~
